{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Class Diary</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'images/favicon-16x16.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'images/favicon-32x32.png' %}"/>
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    
</head>

<style>
    body{

            background: #FDC830;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{% url 'diaries:index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diaries:alunos' %}">Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diaries:anotacoes' %}">Anotações</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'users:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'users:login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="d-flex flex-row justify-content-start">	
        <div class="container m-3">
            {% if user.is_authenticated %}
                <p class="text-success"><strong>Olá, seja bem-vindo!</strong></p>
            {% endif %}
            </div>
                  
        </div>    
	<div class="container">
        
        
<!--    MAIN    -->
    <div class="container">
		
		<div class="page-header text-light m-5">
			{% block header %}{% endblock header %}
		</div>
		<div>
			{% block content %}{% endblock content %}
		</div>
        
	</div>
<!--    /MAIN    -->

<!--    FOOTER    -->
    <footer class="d-flex justify-content-end footer fixed-bottom">
        <small class="text-muted">
          Desenvolvido por 
        <strong>
            <a href="https://www.messenger.com/t/t2031" target="_blank" class="card-link">Alan Tanaka</a>
            <strong class="text-warning">
                <svg class="bi bi-link-45deg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                    <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                    <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
                </svg>
            </strong>
        </strong>
        </small>
    </footer>
<!--    /FOOTER    -->
</body>
