{% extends "diaries/base.html" %}

{% block header %}
    <h4>
        Realize o cadastro do aluno e mantenha um diário sobre o mesmo.
    </h4>
{% endblock header %} 
{% block content %}
<p>
    Aplicação desenvolvida para controle interno de escola. Em <strong>Alunos</strong> depois de preencher ficha e cadastrar navegue para <strong>Anotações</strong> e catalogue um texto sobre determinado aluno na forma de diário com registro de hora e data.
    
</p>
    
<dl class="row">
    <dt class="col-sm-3">Usuário:</dt>
    <dd class="col-sm-9">teste01</dd>
    
    <dt class="col-sm-3">Senha:</dt>
    <dd class="col-sm-9">classd02</dd>
</dl>
{% endblock content %}
